{{> header}}
<div id="page-wrapper">
    <div class="col-lg-12">
        <div class="postbox-container">
            <h1 class="page-header">Contact Details for #{{contact.name}}</h2>
            <div class="order_data_column_container">
                <div class="order_data_column clearfix">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label for="order_date">Name:</label>
                        </div>
                        <div class="col-md-6">
                             {{contact.name}}
                        </div>
                    </div>
                    
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label for="customer_user">Email:</label>
                        </div>
                        <div class="col-md-6">
                            {{contact.email}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                             <label for="customer_user">Mobile Number:</label>
                        </div>
                        <div class="col-md-6">
                            {{contact.phonenumber}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                             <label for="customer_user">Info:</label>
                        </div>
                        <div class="col-md-6">
                            {{contact.info}}
                        </div>
                    </div>
                </div>
                <div class="order_data_column clearfix">
                   <div class="col-md-12">
                        <a href="/contacts/edit/{{contact._id}}" class="btn btn-warning">Edit</a>
                        <a href="javascript:void(0);" class="delete-contact btn btn-danger" data-id="{{contact._id}}">Delete</a>
                    </div> 
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- /#page-wrapper -->
{{> footer}}